/* ===== HOME PAGE ===== */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
  width: min(90%, 650px);
  padding: 30px;
  border-radius: 20px;
  gap: 20px;
}

/* HEADER */
.head {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: 600;
}

/* CONTENT */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  width: 100%;
}

/* EACH TODO ROW */
.content2 {
  display: flex;
  align-items: center;
  gap: 90px;
}

/* TODO CARD */
.all_task {
  display: flex;
  align-items: center;
  gap:90px;
  width: 100%;
  min-height: 55px;
  padding: 0 20px;
  background-color: white;
  font-size: 22px;
  border-radius: 20px;
}

/* ICONS */
img {
  cursor: pointer;
}

/* COMPLETED TASK */
.linethrough {
  text-decoration: line-through;
  color: grey;
}

/* EMPTY MESSAGE */
.record {
  font-size: 22px;
  font-weight: 400;
  color: #333;
}

/* LINK */
.nav-link {
  padding-top: 20px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
